{% extends "layout.html" %}
{% block content %}

	<h2>New Contact</h2>
	<form action="" method="post">
		{% if errors %}
			{% for error in errors %}
			    <p class="gt-error">{{ error }}</p>
			{% endfor %}
		{% endif %}
		<p><label for="name">Name:</label> <input type="text" name="name" value="{{ contact.name }}" /></p>
		<p><label for="email">Email:</label> <input type="text" name="email" value="{{ contact.email }}" /></p>
		<p><label for="number">Number:</label> <input type="text" name="number" value="{{ contact.number }}" /></p>
		<p><input type="submit" value="Save &raquo;" /></p>
	</form>

{% endblock %}