<h1>Contacts <small style="font-size: 0.6em;"><a href="/contacts/create">New</a> <a href="/contacts/list">List</a></small></h1>
<h3>{{ title }}</h3>
<form action="" method="post">
	{% if errors %}
		<p class="error">
		{% for error in errors %}
		    {{ error }}
		{% endfor %}
		</p>
	{% endif %}
	<p>Name: <input type="text" name="name" value="{{ contact.name }}" /></p>
	<p>Email: <input type="text" name="email" value="{{ contact.email }}" /></p>
	<p>Number: <input type="text" name="number" value="{{ contact.number }}" /></p>
	<p><input type="submit" value="Save &raquo;" /></p>
</form>