<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Chicago Contacts</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="Pragma" content="no-cache" />
		<link rel="stylesheet" href="/static/css/reset-fonts.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="/static/css/gt-styles.css" type="text/css" media="screen, projection" />
	</head>
	<body>
		<!-- head -->
		<div class="gt-hd clearfix">
			<!-- logo -->
			<div class="gt-logo">
				ChicagoContacts
			</div>
			<!-- / logo -->
			
			<!-- navigation -->
			<div class="gt-nav">
				<ul>
					<li><a href="/contacts/list">List</a></li>
					<li><a href="/contacts/create">New</a></li>
				</ul>
			</div>
			<!-- / navigation -->
			
		</div>
		<!-- / head -->
		
		<!-- body -->
		<div class="gt-bd clearfix">
			
			<!-- main content -->
			<div class="gt-content">
				
				{% block content %}{% endblock %}
				
			</div>
			<!-- / main content -->
	
			<!-- / sidebar -->
			
		</div>
		<!-- / body -->
		
		<!-- footer -->
		<div class="gt-footer">
			<p>
				Template Copyright &copy; 2008 <a href="http://www.gooeytemplates.com" target="_blank">Gooey Templates</a>
			</p>
		</div>
		<!-- /footer -->
	</body>
</html>