{% extends "layout.html" %}
{% block content %}
<h2>List</h2>
{% if contacts %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Number</th>
				<th colspan="2">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for contact in contacts %}
				<tr>
					<td>{{ contact.name }}</td>
					<td>{{ contact.email }}</td>
					<td>{{ contact.number }}</td>
					<td><a href="/contacts/edit/{{ contact.id }}">Edit</a></td>
					<td><a href="/contacts/delete/{{ contact.id }}">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
    <p class="gt-error">You have no contacts.</p>
{% endif %}
{% endblock %}